<table class="highlight">
  <thead>
  <tr>
    <th>Name</th>
    <th>Sessions</th>
    <th>Finished sessions</th>
  </tr>
  </thead>
  <tbody>
  {{#each experiments as |experiment|}}
    <tr>
      <td>
        {{#link-to 'manage.experiment.show' experiment}}
          {{experiment.name}}
        {{/link-to}}
      </td>
      <td>
        {{experiment.sessions_count}}
      </td>
      <td>
        {{experiment.sessions_fin_count}}
      </td>
    </tr>
  {{else}}
    <tr>
      <td colspan="4">There are no experiments yet</td>
    </tr>
  {{/each}}
  </tbody>
</table>
