<div>
  <div>
    <h5>Experiments
      <small>
        {{#link-to 'manage.experiment.new'}}
          New
        {{/link-to}}
      </small>
    </h5>
  </div>
  {{experiment-table experiments=model}}
  {{outlet}}
</div>