@import '../common';

#breadcrumbs-wrapper {
  line-height: 48px;
}

.create-new-link {
  text-align: right;
}

input {
  margin-bottom: 40px;
}

.navbar-container {
  @include container;

  .logo {
    @include span(3);
  }

  .breadcrumbs {
    @include span(8);
  }
}

