$primary-color: #9c27b0;
$primary-color-light: #ab47bc;
$primary-color-dark: #8e24aa;

$secondary-color: #607d8b;
$secondary-color-dark: #455a64;
$secondary-color-text: #eceff1;

$lightset-display-active-color: #00c853;
$lightset-display-inactive-color: #bdbdbd;

$collection-bg-color: $secondary-color;
$collection-border-color: $secondary-color;
$collection-active-bg-color: $secondary-color-dark;
$collection-hover-bg-color: $secondary-color-dark;
$collection-link-color: $secondary-color-text;
