<div id="user-data-card" class="card">
  <div class="card-content">
    <p class="card-title">Experiment finished</p>
    Thank you for participating.<br>
    To enter another experiment {{#link-to 'index' }}click here{{/link-to}}.
  </div>
</div>{{outlet}}
