<div class="row">
  <div class="col s12">
    {{admin-header}}
  </div>
  <div class="col s3">
    {{admin-nav}}
  </div>
  <div id="admin-body" class="col s9">
    <div class="card grey lighten-5">
      <div class="card-content black-text">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
{{admin-footer}}